body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
 width: 100%;
}
.header{
    background-image: url('./gym.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.order-box{
    width: 400px;
    height: 600px;
    background: rgba(0, 0, 0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    height: 50px;
    float: center;
    margin-bottom: 10px;
    background:none;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    text-align: center;
}
::placeholder {
    color:    rgb(186, 182, 182);
    text-align: center;
 }
 
button{
    border-radius: 6px;
    background:none;
    border: 1px solid white;
    border-radius: 6px;
    color:white;
    font-size: 18px;
    padding: 10px 25px;
    transition: 0.5s all ease;
}
button:hover{
    background: burlywood;
    color: white;
}
h1{
    margin-left: 20px;
}